fastapi
uvicorn
sqlalchemy
python-multipart
google-generativeai
passlib[bcrypt]
python-jose[cryptography]
google-auth
python-dotenv
psycopg2-binary
# deepface (unsupported on this python version)
opencv-python-headless
numpy
reportlab
twilio
pydantic
python-dotenv
httpx
motor
