fastapi
uvicorn
sqlalchemy
python-multipart
google-generativeai
passlib[bcrypt]
python-jose[cryptography]
google-auth
python-dotenv
psycopg2-binary
deepface
opencv-python-headless
numpy
reportlab
twilio
pydantic
python-dotenv
